<div>
<form>
  <div class="row mb-3">
    <label for="inputTitle" class="col-sm-2 col-form-label">Titel</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputYear" class="col-sm-2 col-form-label">Jahr</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputYear">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
</div>