<div>
<form>
  <div class="row mb-3">
    <label for="inputTitle" class="col-sm-2 col-form-label">Titel</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputYear" class="col-sm-2 col-form-label">Jahr</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputYear">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputLabel" class="col-sm-2 col-form-label">Stichwörter</label>
    <select id="inputLabel" style="width:unset" class="col-sm-10 form-select" size="5" multiple>
      {% for label in labels %}
        <option value="{{label}}">{{label}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="row mb-3">
    <label for="inputRating" class="col-sm-2 col-form-label">Bewertung (1..5)</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputRating" min="1" max="5">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputAbstract" class="col-sm-2 col-form-label">Abstract</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAbstract">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputSummary" class="col-sm-2 col-form-label">Inhalt</label>
    <div class="col-sm-10">
      <textarea id="inputSummary" name="inputSummary" class="form-control" rows="5"></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
</div>