#navbar-outer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar-outer li {
  float: left;
}

#navbar-outer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar-outer li a:hover {
  background-color: #111;
}

#table-wrapper {
  padding: 2% 20% 2% 20%;
}

#new-book-outer-div {
  text-align: center;
  padding-left: 20%;
  padding-top: 20px;
  width: 80%;
}
